body{
	overflow: hidden;
	text-align: justify;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

body, select, .myButton1{
	font-size: 16pt;
	font-family: Segoe UI, Noto Sans, Open Sans, Roboto, Arial;
}

.box{
	text-align: center;
	border: solid black 1px;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	background: white;
	max-height: 90%;
}

.box1 ul{
	text-align: left;
	display: table;
	margin: 0 auto;
}

.box1{
}

.box2{
	display: none;
}

.box3{
	max-width: 600px;
	display: none;
}

h1{
	padding: 0;
	margin: 0;
}

.box3 p{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.biggertext{
	font-size: 20pt;
}

select{
	max-width: 90%;
	height: 50px;
	filter: drop-shadow(2.5px 2.5px 2.5px black);
}

.unionTable{
	width: 100%;
}

.unionTable img{
	width: 64px;
	height: 64px;
	filter: drop-shadow(2.5px 2.5px 2.5px black);
}

.unionTable .unionName{
	word-break: break-word;
	font-size: 15pt;
}

.unionTable .unionAcronym{
	font-weight: bold;
}

.myButton1{
	background: white;
	border: solid 2px red;
	min-width: 70px;
	height: 70px;
	transition: all 0.3s;
	border-radius: 50%;
	filter: drop-shadow(2.5px 2.5px 2.5px black);
	word-break: normal !important;
}

.myButton1 span{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 1;
}

.myButton1:hover{
	cursor: pointer;
	background: red;
}


.backButton{
	border: solid 2px green;
}

.backButton:hover{
	background: green;
}


.redSquareBtn{
	background: white;
	border: solid 2px red;
	font-size: 16px;
	width: 150px;
	height: 50px;
	transition: all 0.3s;
	border-radius: 50%;
}

.redSquareBtn:hover{
	cursor: pointer;
	background: red;
}

.animate-opacity{animation:opac 0.75s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-opacityR{animation:opacR 0.75s}@keyframes opacR{from{opacity:1} to{opacity:0}}

.loading-button {
  position: relative;
}

.loading-button::after {
  content: "";
  display: block;
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #333;
  animation: spin 2.5s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.radioNav {
    border: 1px solid #666;
    border-radius: 4px;
    overflow: hidden;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: auto;
	margin-bottom: 10px;
	box-shadow: 2.5px 2.5px 2.5px;
	display: flex;
	max-width: 90%;
	/* width: fit-content; */
	/*display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	grid-auto-flow: column;
	grid-auto-columns: 1fr;*/
}

.radioNav > *{
	margin: 0;
	padding: 0;
}

.radioNav input{
	/*display: none;*/
}

.radioNav label{
    font-family: sans-serif;
    padding: 5px 10px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
	color: blue;
	text-decoration: underline;
	min-width: 60px;
	height: 50px;
	/*font-weight: bold;*/
	display: flex;
    align-items: center;
	justify-content: center;
	flex-grow: 1;
}
.radioNav label:last-of-type{ border-right: 0; }
.radioNav label:hover{
    background: #eee;
}
.radioNav label:has(input[type="radio"]:checked) {
    background: #becbff;
}

.no-transition *{
	transition: none !important;
}

.boxChild{
	position: relative;
	left: 100%;
}

.boxChild_active {
	left: 0%;
	transition: 0.5s;
	display: revert !important;
}

.boxChild_hide {
	position: absolute;
	transform: translateX(-100%);
	left: 0;
	visibility: hidden;
	transition: 0.5s;
}

.myButton1 {
  --clickable-space-around-button: -2px;
  position: relative;
}

.myButton1::after {
  content: "";
  left: var(--clickable-space-around-button);
  right: var(--clickable-space-around-button);
  bottom: var(--clickable-space-around-button);
  top: var(--clickable-space-around-button);
  position: absolute;
}

img:not([src]){
	visibility: hidden;
}

body{
	display: revert !important;
}

.hideScrollbars{
	overflow-x: clip;
	/*scrollbar-width: none;*/
}

.hideScrollbars::-webkit-scrollbar{
	/*display: none;*/
}

/* @Media queries have to be at the end */

@media screen and (max-width:400px) {
  .box1, .box2{
	max-width: 90%;
  }
}

@media screen and (max-width:600px) {
	.box3{
		max-width: 90%;
	}
	
	.myButton1{
		min-width: 70px;
		height: 70px;
	}
	
	 select, .radioNav label{
		 height: 60px;
	 }
	
	.unionAcronym{
		/*display: none;*/
	}
}